<a href="https://colab.research.google.com/github/JyotiGupta634/Pytho_For_Data_Science/blob/main/Fundamentals_of_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Fundamentals Of Python Programming**

By: Jyoti Gupta<br>
Welcome to My Fundamental Of Python programming notes.

# **1)Python Introduction**

Python is a general-purpose programming language that can be used on any modern computer operating system. It can be used for processing text, numbers, images, scientific data and just about anything else you might save on a computer. It is used daily in the operations of the Google search engine, the video-sharing website YouTube, NASA and the New York Stock Exchange.Python is an interpreted language.This means that it is not converted to computer-readable code before the program is run but at runtime.

**2)Python Hello World**<br>
When we learning any new programming language, it is customary to write a Hello World! statement
and run it. Keeping with the tradition, let’s write our Hello World! statement in Python and run
it.

**2.0.1 Print “Hello World”**<br>
In order to print “Hello World!”, type the syntax: print("Hello World!") on notebook and press Ctrl+Enter

In [ ]:
print("hello World!")

hello World!

**2.0.2 Exercise 1.1:**
<br>
Write the syntax to print “I love Python” and run it.

In [ ]:
 # write you code to print "I love Python" below and run it.
print("I love Python")

I love Python

**2.1 Python comments**
<br>
Comments play a very important role while writing a program. It describes the program to the user so that they can easily understand the program.<br>
In Python hash`(#) `is used to start writing a comment. The interpreter does not interpret the comment.

Python supports two types of comments. They are:

Learn Comments In Python
*  Single Line Comment.
*  Multi-Line Comment.

**1. Single Line Comment**
<br>If you want to single line comment, you need to put a “#” symbol before
the comment. Example is shown below

In [ ]:
#  This is a single line comment. Always comment your code.

**2.Multi line comments**
<br> If your comment is going to be more than one line, you can enclose them
with ””” as shown in the example below.

In [ ]:
 """This is multi-line comment
If your comment is going to be 
more than one line you can enclose them with multi-line comments."""

'This is multi-line comment\nIf your comment is going to be \nmore than one line you can enclose them with multi-line comments.'

**3 Python Variables**
<br>
Variables are containers that hold data values. Please look at the examples of variables below.

In [ ]:
 # examples of variables
x = 6 # the variable x holds the value 2
# variables are case-sensitive (i.e. variables x and X are different)
X = 3 # this variable X is different from x above
# You will see that the values of x and X are different
print('x =', x)
print('X =', X)

x = 6
X = 3

In [ ]:
 # variables can hold string values (text) as well. String needs to be enclosed␣
# ,→inside a pair of single or double quotes.
language = 'Python' # string inside single quotes
name = "John" # string inside double quotes
# when you print variables, the values that they hold gets printed
print('language:', language)
print('name:', name)

language: Python
name: John

**Rules for variable names**
*  A variable name must start with a letter or the underscore character (like _var or mVar)
*  It can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
*  Variable names are case-sensitive (var, Var, and VAR are three different variables)
*  Can’t start with a number

In [ ]:
 # the code below will show an error when you run it
7name = "Jyoti" # variable name cannot start with a number, so you will get an error.

In [ ]:
# the following variable names are valid
_age = 22
name7 = "Jyoti" # number can be anywhere after the first character
n7ame = 'Niharika' # number can be anywhere after the first character

In [ ]:
# variable names are case-sensitive. So the following two variables are different although they have the same spelling.
country = "Nepal"
Country = "India"
# print the variables
print("_age:", _age)
print("name7:", name7)
print("n7ame:", n7ame)
print("country:", country)
print("Country:", Country)

_age: 22
name7: Jyoti
n7ame: Niharika
country: Nepal
Country: India

**Exercise 2.1**
<br> Create variables named ‘name’ and ‘age’ and assign your name and age respectively.
Then print the variables. Also, put appropriate comments in your code

In [ ]:
# create a variable 'name' and assign your name to it
name='jyoti'
# create a variable 'age' and assign your age to it
age=22
# print the above two variables
print(name,age)

jyoti 22

**3 Python Data Types**
<br>
Variables can hold different types of data.
Python has the following data types.
 * Text (String): str
 * Numeric (Numbers): int, float,
complex 
 * Sequence: list, tuple, range
 * Mapping: dict 
 * Set: set, frozenset 
 * Boolean
(True/False): bool 
 * Binary (ones/zeros): bytes, bytearray, memoryview
 
Examples of commonly used data types

In [ ]:
name = "Sabbu" # str type (string)
age = 22 # int type (integer)
height = 3.01 # float type (floating point)
fruits = ["Apple", "Banana", "Pear"] # list type (use square brackets)
countries = {"China", "India", "Nepal"} # set type (use curly braces)
colors = ("red", "green", "blue") # tuple type (use parentheses)
x = range(5) # range type
my_info = {name: "Sabbu", age: 22} # dict type (key:value pairs inside a pair of,→curly braces)
is_ok = True # boolean type (either True or False)

You can use type() to show the type of the variable as shown below.

In [ ]:
 print("Type of name variable:",type(name))
print("Type of my_info variable:",type(my_info))
print("Type of is_ok variable:",type(is_ok))

Type of name variable: <class 'str'>
Type of my_info variable: <class 'dict'>
Type of is_ok variable: <class 'bool'>

Python Type casting You can create a variable of particular type, or convert one type to another
type, by something called casting. Here are some examples.

In [ ]:
int_var = int(3.53) # int_var will contain the value int value 2 (numbers after the decimal are discarded)
str_var = str(50) # str_var will contain the value "45" in string form
float_var = float("3.14") # float_var will contain the value 3.14 in floating point format
# you can simply assign the values to the variables and the type is automatically inferred
int_var_auto = 4
str_var_auto = "hello"
float_var_auto = 3.14
print("Type of int_var_auto", type(int_var_auto))
print("Type of str_var_auto", type(str_var_auto))
print("Type of float_var_auto", type(float_var_auto))

Type of int_var_auto <class 'int'>
Type of str_var_auto <class 'str'>
Type of float_var_auto <class 'float'>

In [ ]:
#  let's convert int_var to float type
int_var_convert_float = float(int_var)
print(int_var_convert_float)
print(type(int_var_convert_float))

3.0
<class 'float'>

**3.2 Exercise 2.1**
<br>
Create a variable of type int and convert it to float and str type.

In [ ]:
# write code below to create a variable of type int
int_var1=5.90
print(int_var1)

# write code below to convert the above int variable to float
int_variable_convert_float1=float(int_var1)

# write code below to convert the int variable you created above to str type
print(type(int_variable_convert_float1))

5.9
<class 'float'>

**4) Python Operators**
<br>
Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.
*  Arithmetic operators
*  Assignment operators
*  Comparison operators
*  Logical operators
*  Identity operators
*  Membership operators
*  Bitwise operators

**4.1 Arithmetic Operators**

In [ ]:
 # Addition (+)
6+10

16

In [ ]:
# subtraction(-)
10-2

8

In [ ]:
# multiplication(*)
5*2

10

In [ ]:
# division(/)
10/2

5.0

In [ ]:
# modulas(%)
10%3

1

In [ ]:
#  Exponentiation ( ** ) or power
5**8

390625

In [ ]:
 # Floor division ( // )
10//2

5

**4.3 Assignment Operators**
<br> = operator assigns the value on the right hand side to the variable on the,→left hand side

In [ ]:
x=6
x

6

In [ ]:
# +=
x += 3 # same as x = x + 3 # RESULT should be 9
x

12

In [ ]:
# -=
x -= 5 # same as x = x - 3 # RESULT should be 9
x

4

In [ ]:
# *=
x *= 3 # same as x = x * 3 # RESULT should be 12

12

In [ ]:
# /=
x /= 4 # same as x = x / 3 # RESULT should be 3.0
x

3.0

In [ ]:
# %=
x %= 2# same as x = x % 3 # RESULT should be 1.0
x

1.0

In [ ]:
#  //=
x = 12
x //= 4 # same as x = x - 3 # RESULT should be 3
x

3

In [ ]:
# **=
x **= 3 # same as x = x ** 3 # RESULT should be 27
x

27

**4.4 Comparison Operators**
<br>Comparison operators produce a result as boolean (True/False) values.

In [ ]:
# == (Equal to)
5 == 4 #result should be  False

False

In [ ]:
# != (Not equal to)
12 != 30 # True

True

In [ ]:
# > (Greater than)
21 > 33 # result should be False

False

In [ ]:
 # < (Less than)
24 < 31 # result should be  True

True

In [ ]:
 # >= (Greater than or equal to)
2 >= 3 # result should be False

False

In [ ]:
# <= (Less than or equal to)
2 <= 2 # result should be True

True

Rest of the operators will be introduced after some concepts (e.g. List, Object etc.) related to them
are introduced

**5 Python List**
<br>Let's see, we saw that a variable could store only one value. We can store multiple values in a variable.
List helps us do tha

In [ ]:
# List is enclosed in square brackets
days_of_week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday','Friday', 'Saturday']
days_of_week

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

You can find the number of items in the list using len()

In [ ]:
# number of items in the list
len(days_of_week)

7

The items in the list can be of any data type.

In [ ]:
my_list = [7, 8.0, 'Hello', 'flase','true']
my_list

[7, 8.0, 'Hello', 'flase', 'true']

**5.1 Access List items**
<br>
List is an ordered collection of items, i.e. each item has an index (position number) associated with
it. The index always starts with zero. So, the first item in the list has index 0, second item has
index 1 and so on. You can access any item in the list by its index, as shown in the example below

In [ ]:
 days_of_week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday','Friday', 'Saturday']
# Let's access the first item in the list. Index 0.
print(days_of_week[0])
# fourth item in the list. Index 3
print(days_of_week[3])

Sunday
Wednesday

**Negative indexing** You can use negative index to access items from the end of the list. The last
item in the list has the index -1, second last -2 and so on. Please see the examples.

In [ ]:
days_of_week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday','Friday', 'Saturday']
# last item in the list. Index -1
print(days_of_week[-7])
# third last item in the list, Index -3
print(days_of_week[-4])

Sunday
Wednesday

Range of indexes You can select more than one contiguous items in the list as a range (start_index
: end_index+1). Examples shown below.

In [ ]:
days_of_week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday','Friday', 'Saturday']
days_of_week_0_3 = days_of_week[1:4] # returns a new list with the range of items selected
print(days_of_week_0_3) # items with indexes 1, 2, 3 will be printed. Remembert he end index 4 is not printed.
print(days_of_week) # the original list is unchanged

['Monday', 'Tuesday', 'Wednesday']
['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [ ]:
days_of_week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday','Friday', 'Saturday']
days_of_week[:6] # indexes 0, 1, 2 will be selected

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

If you leave out the end index, all the items from the start index to the end of the list is selected.

In [ ]:
 days_of_week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday','Friday', 'Saturday']
days_of_week[5:] # items 5, 6 will be selected

['Friday', 'Saturday']

You can use in operator to check if an item is present in the list.

In [ ]:
'Saturday' in days_of_week

True

In [ ]:
'Satrday' in days_of_week

False

**5.2 Change List items**<br>
`Change item value` If you assign a value to the list at the item number, you replace the old value
with the new one.

In [ ]:
days_of_week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday','Friday', 'Saturday']
days_of_week[1] = "Mon"
days_of_week

['Sunday', 'Mon', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

**Change a range of item values**

In [ ]:
days_of_week = ['sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
days_of_week[3:7] = ["Wed","Sat"]
days_of_week

['sunday', 'Monday', 'Tuesday', 'Wed', 'Sat']

If you assign more values than idexes specified in the range, the extra values will be inserted and
the rest of the original values get pushed to the right.

In [ ]:
 days_of_week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday','Friday', 'Saturday']
days_of_week[3:4] = ["Wed", "Thu"]
print(days_of_week)
print(len(days_of_week)) # note that the size of the list is expanded

['Sunday', 'Monday', 'Tuesday', 'Wed', 'Thu', 'Thursday', 'Friday', 'Saturday']
8

If you assign less values than the indexes specified in the range, the original values in the indexes
not provided values to be replaced for will be deleted.

In [ ]:
days_of_week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday','Friday', 'Saturday']
days_of_week[1:3] = ["Munda"] # indexes given: 1, 2; values given "Munda",which goes at index 1 and original
# value at index 2 ("Tue") is deleted.
days_of_week

['Sunday', 'Munda', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

**Insert items** 
If you can   want to insert items without replacing original items, you need to use insert().

In [ ]:
my_list = [1,2,3]
my_list.insert(1, "inserted")
my_list

[1, 'inserted', 2, 3]

**5.3 Add List items**
<br>
Add items to the end of the list, use the append() method.

In [ ]:
my_list = [6,5,4]
my_list.append(3)
my_list

[6, 5, 4, 3]

To add items from another list, use extend() method.

In [ ]:
list_to_add = [50,100]
my_list.extend(list_to_add)
my_list # the added items are added to the end of the list

[6, 5, 4, 3, 50, 100]

**5.4 Remove List items**
<br>
The remove() method removes the specified item provided as  a argument.

In [ ]:
my_list = ["sunday", "monday", "tuesday"]
my_list.remove("monday")
my_list

['sunday', 'tuesday']

**Remove item at a specified index**
<br>
You can use pop() method to remove an item at a specified index.

In [ ]:
my_list = [10,20,30]
my_list.pop(1)
my_list

[10, 30]

If we do not give any argument to pop(), the last item in the list will be removed.

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9]
my_list.pop()
my_list

[1, 2, 3, 4, 5, 6, 7, 8]

del keyword can also be used to remove or delete  an item at a specified index

In [ ]:
my_list = [1, 2, 3,4,5,6,7,8]
del my_list[5]
my_list

[1, 2, 3, 4, 5, 7, 8]

**Clear the list**
<br>If we want to remove all the list items,we can use clear()method. the difference about between del and clear().

In [ ]:
my_list = [10,20,30]
my_list.clear()
my_list

[]

**5.5 Sort List**
<br>
We  can sort a list alphanumerically using the sort() method. The default is ascending order

In [ ]:
months_list = ["sunday","monday","tuesday","wednesday","thursday","friday","saturday"]
months_list.sort()
months_list

['friday', 'monday', 'saturday', 'sunday', 'thursday', 'tuesday', 'wednesday']

In [ ]:
years_list = [1990, 1993, 2012, 1970]
years_list.sort()
years_list

[1970, 1990, 1993, 2012]

Now sorting by descending order, provide reverse = True argument to sort().

In [ ]:
number_list = [2,3,-4,6,10,200,30]
number_list.sort(reverse=True)
number_list

[200, 30, 10, 6, 3, 2, -4]

The sort() method is  case-sensitive by default and the  Capital letters are sorted before small letters.

In [ ]:
 animals_list = ["Elephant","dog","cat"," Monkey","Tiger"]
 animals_list.sort()
 animals_list

[' Monkey', 'Elephant', 'Tiger', 'cat', 'dog']

If you want  to case-insensitive sort, provide the argument key = str.lower to sort() method in python fundamental concept.

In [ ]:
 animals_list=["Elephant","Dog","cat","Tiger","Monkey"]
 animals_list.sort(key = str.lower)
 animals_list

['cat', 'Dog', 'Elephant', 'Monkey', 'Tiger']

Reverse order,when You can use the reverse() method to reverse the order of items in the list. No
sorting.

In [ ]:
my_list = [10,20,30,40,50,60,70,80]
my_list.reverse()
my_list

[80, 70, 60, 50, 40, 30, 20, 10]

**5.6 Make a copy of a list**

When you can make a copy of list then you can use` copy ()` method.

In [ ]:
list_number = [1,2,3,4,5,"hello world!"]
copy_of_listnumber = list_number.copy()
copy_of_listnumber

[1, 2, 3, 4, 5, 'hello world!']

You can also copy a list using list() method.

In [ ]:
my_list = [5,6,7,8]
my_list_copy = list(my_list)
my_list_copy

[5, 6, 7, 8]

**5.7 Join lists**

when you can join two lists then you can using the` +` operator.

In [ ]:
list_1 =[1,2,3,4,5]
list_2 = ["firstname","lastname"]
list_3 = list_1+list_2
print(list_3)
print(list_1)

[1, 2, 3, 4, 5, 'firstname', 'lastname']
[1, 2, 3, 4, 5]

when you can use the extend () method to add list_2 to at the end of list_1.

In [ ]:
list_1 =[4,5,6]
list_2 = ["hello","world!"]
list_1.extend(list_2)
print(list_1)

[4, 5, 6, 'hello', 'world!']

Think about the difference between using the + operator and using the extend()
method.

**6 Python Conditionals**
<br>
**6.1 if Statement**

if conditon is true, when the statement is true then the if condition statement return the true value.<br>
Syntax of if Statement:
<br>

In [ ]:
# if <some condtion>:
# code to run only if the condition is true

**Example of if statement:**

In [ ]:
# example:
a = 9
if a>6:
  print("a is greater than 6")

a is greater than 6

Let's see, In the above code a>6 is the condition, which evaluates to either t=True or False.you can use any of the comparions operator we learned ,in the condition.

You can also notice the blank spaces (its also called white spaces) before the start of the code right after the if statement. when the  whitespaces are called indentation. 

you need to indent the line or lines that you want to be part
of the if statement. 

The indentation for all the lines in the if code block needs to be
the same.When the define the Indentation the scope of the if block.

In [ ]:
a= 20
if a > 10:
  print('a is greater than 10')
  print('Nothing will get printed if the condition is not True')

a is greater than 10
Nothing will get printed if the condition is not True

**6.2 elif keyword**
<br>
An if…else Python statement checks whether a condition is true. If a condition is true, the if statement executes. Otherwise, the else statement executes.

In [ ]:
a = 20
if a > 15:
 print('a is greater than 15')
elif x > 10:
print('a is greater than 10')
elif a > 12.56:
print('a is greater than 12.56')

a is greater than 15

**6.3 else keyword**
<br>
In python, else statement contains the block of code it executes when the if condition statements are false.for example:

In [ ]:
 # The same code as above with the else keyword at the end
a = 10 
if a > 15:
  print('a is greater than 15')
elif a > 20:
  print('a is greater than 20')
elif a > 10:
  print('a is greater than 10')
else:
  print("a is less than or equal to 10")

a is less than or equal to 10

**6.4 Short-hand if**
<br>
Shorthand if and if else is nothing but a way to write the if statements in one line when we have only one statement to execute in the if block and the else block.

An example for shorthand if in Python:

In [ ]:
a = 4
b = 2
if a>b:print("a is greater than b")

a is greater than b

An example for shorthand of state else condition:

In [ ]:
a = 4
b = 2
print("a is greater")if a>b else print ("b is greater")

a is greater

**6.5 Short-hand if - elif**
<br>
You can put if - else code block in one line as well.
For example:

In [ ]:
a=3
print("a is equal to 3") if a == 3 else print("a is not equal to 3")

a is equal to 3

**6.6 Nested if**
<br>
We use nested if statements when we need to check secondary conditions only if the first condition executes as true.
<br>We use nested if statements when we need to check secondary conditions only if the first condition executes as true.

In [ ]:
a = 20
if a > 15:
 print("a is greater than 15")
if a < 17:
   print("but it is less than 10")
else:
 print("and it is greater than 20 as well")

a is greater than 15
and it is greater than 20 as well

#Python loop

Python has two loop commands:
* while
* for

**6.7 while loop**<br>
A while loop statement in Python programming language repeatedly executes a target statement as long as a given condition is true.
<br>
Syntax:
<br>
The syntax of a while loop in Python programming language is −
<br>

In [ ]:
# while expression:
#    statement(s)

In [ ]:
# for example:

count = 0
while (count < 9):
   print ('The count is:', count)
   count = count + 1

print ("Good bye!")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Good bye!

**6.7.1 break statement**<br>
The break statement breaks the loop and the execution exits the loop

In [ ]:
x = 0
while x < 10:
 print(x)
x += 1
if x == 4:
 break

**6.7.2 continue statement**<br>
The continue statement rejects all the remaining statements in the current iteration of the loop and moves the control back to the top of the loop.

The continue statement can be used in both while and for loops.

In [ ]:
for letter in 'Python':     # First Example
   if letter == 'h':
      continue
   print ('Current Letter:',letter)

var = 7                    # Second Example
while var > 0:              
   var = var -1
   if var == 5:
      continue
   print ('Current variable value :', var)
print("Good bye!")

Current Letter: P
Current Letter: y
Current Letter: t
Current Letter: o
Current Letter: n
Current variable value : 6
Current variable value : 4
Current variable value : 3
Current variable value : 2
Current variable value : 1
Current variable value : 0
Good bye!

**6.8 for loop**
<br>
It has the ability to iterate over the items of any sequence, such as a list or a string.<br>
Syntax:

In [ ]:
# for iterating_var in sequence:
#    statements(s)

For example:

In [ ]:
for letter in 'python':                        #first example
  print('current Letter:',letter)

fruits = ['banana','apple','orange']
for fruit in fruits:                           #second eample
  print('current fruit :',fruit)

print("good bye!take care")

current Letter: p
current Letter: y
current Letter: t
current Letter: h
current Letter: o
current Letter: n
current fruit : banana
current fruit : apple
current fruit : orange
good bye!take care

**6.9 The range() function**
<br>
The range() function returns a sequence of numbers starting with 0 (by default) and incremented by 1 (by default) up to the number less than one provided as argument.

In [ ]:
# printing a number
for i in range(10):
    print(i, end =" ")
print()

0 1 2 3 4 5 6 7 8 9

**6.10 Nested loop** 
<br>You can put a loop inside a loop, which is called a nested loop.<br>
Syntax:

In [ ]:
colors = ['red', 'yellow', 'green']
objects = ['apple', 'banana', 'mango']
for i in colors:
 for j in objects:
  print(i, j)

red apple
red banana
red mango
yellow apple
yellow banana
yellow mango
green apple
green banana
green mango

**7 Python Functions**
<br>
function is a block of organized, reusable code that is used to perform a single, related action. Functions provide better modularity for your application and a high degree of code reusing.
<br>
You can define functions to provide the required functionality

**7.1 Creating a function**
<br>
when you can create a python funtion then you need to use the `keyword def`.

In [ ]:
 # function definition
def add(a,b): # here 'add' is the function name; a and b are parameters
  return a+b # the function returns the sum of a and b
# calling the function
add(2,3) # here 2 and 3 are inputs to the function which are known as arguments

5

**Parameters vs. Argument:**
<br>
**parameter:**<br>A parameter is the variable defined within the parentheses during function definition. Simply they are written when we declare a function.<br>
**Argument:**
<br>
An argument is a value that is passed to a function when it is called. It might be a variable, value or object passed to a function or method as input. They are written when we are calling the function.

In [ ]:
 add(2) #  we are passing one,argument, so get an error.

In [ ]:
 add(1,2,3) # However, we are passing more,than 2 arguments, so we get an error. add function expects 2 arguments.


7.2 Arbitrary arguments (*args)<br>
If you do not know in advance how many arguments will be passed, you can define a function with
arbitrary arguments by adding an * (asterisk) before the parameter name.

In [ ]:
def add(*nums):
  sum = 0
  for i in nums:
    sum += i
  return sum
add(1,22,55,30)

108

**7.3 Default parameter value**
<br>
Python has a different way of representing syntax and default values for function arguments. Default values indicate that the function argument will take that value if no argument value is passed during the function call. The default value is assigned by using the assignment(=) operator of the form keywordname=value.

In [ ]:
def multiply(x, y=3):
  return x*y
multiply(4) # we did not pass the argument value for y, so y took the default,value of 3 as defined in the function

12

In [ ]:
 multiply(4,5) # we provided the argument value for y, so the default value is,overridden with the value provided.

20

when you can defining function  with default parameter values, make sure that you put them after non default parameter.

In [ ]:
def subtract(x=5,y):
return x-y
subtract(3 # returns error, since 4 is assumed to be the value for x, and consequently it is as if y value is not provided.

**7.4 Lambda Functions**
<br>
A Lambda Function in Python programming is  a function having no name. It is a small and restricted function having no more than one line. Just like a normal function, a Lambda function can have multiple arguments with one expression.

In [ ]:
sum = lambda x,y,z: x+y+z # lambda function defined and assigned to a variable ,'sum'
sum(6,7,8) # 'sum' lambda function called with  argument

21

**8 Python Tuples**
<br>
Tuples:
<br>
*  A tuple is a collection of objects which ordered and immutable. 
*  Tuples are sequences, just like lists. 
*  The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets
*  are enclosed by parentheses ()
*  can store multiple values in a single variable
*   allow duplicate values
<br>
for example:

In [ ]:
my_tuple = ("hello","good morning",6,7)
my_tuple

('hello', 'good morning', 6, 7)

Python Tuple items are indexed starting from 0,and so on..

In [ ]:
print(my_tuple[0])
print(my_tuple[1])
print(my_tuple[2])

In [ ]:
# tuple allowed duplicate items.
tuple_1 = (90, 22, "banana", "mango", "banana","papaya")

In [ ]:
# length (number of items in tuple)
len(tuple_1)

6

In [ ]:
tuple_1element = ("good morning!") # without a comma after the element in one-element,tuple, you will not get a tuple type
type(tuple_1element)

str

In [ ]:
tuple_1element = ("good morning!",) # put a comma after the element in one-element tuple
type(tuple_1element)

tuple

tuple items with indexing, negative indexing, range of indexes work just like in Lists:

In [ ]:
my_tuple=("hello","Good Morning",10,20,30,40)
print("my_tuple[0]=> ",my_tuple[0]) #print the first element
print("my_tuple[-1] =>",my_tuple[-1]) # last element of the tuple
print("my_tuple[1:3] =>",my_tuple[1:3]) # elements at index 1 (second element),up to index 2 (3rd element) - excluding index 3
print("my_tuple[-3: -2] =>",my_tuple[-3: -2]) # element at index -3 up to index,-2 (excluding -2)
print("my_tuple[:2] =>",my_tuple[:2]) # elements from index 0 up to index 1
print("my_tuple[2:] =>",my_tuple[2:]) # elements from index 2 to en

my_tuple[0]=>  hello
my_tuple[-1] => 40
my_tuple[1:3] => ('Good Morning', 10)
my_tuple[-3: -2] => (20,)
my_tuple[:2] => ('hello', 'Good Morning')
my_tuple[2:] => (10, 20, 30, 40)

You can not add items, update items, or remove items from a tuple.
<br>
You can delete a tuple with the del keyword

In [ ]:
del my_tuple
my_tuple # deleted,

NameError: ignored

**8.1 Unpack Tuples**
<br>
We can extract the values in tuples to variables, which is called “unpacking”.

In [ ]:
#  to provide as many variables as there are values in the tuple
student1, student2, student3 = ("Sam", "Harry", "Tom")
print(student1)
print(student2)
print(student3)

Sam
Harry
Tom

**8.2 Loop through a tuple**
<br>
You can loop through the tuple items by using a for loop.

In [ ]:
my_tuple = ("This","is","a","example","of","loop","through","a","tuple")
for item in my_tuple:
  print(item)

This
is
a
example
of
loop
through
a
tuple

**8.3 Join tuples**
<br>The join function can be used to join each tuple elements with each other.

In [ ]:
tuple_1 = (10,20,30)
tuple_2 = (40,50,60)
tuple_3 = (70,80,90)
print(tuple_1 + tuple_2)
print(tuple_1 + tuple_2 + tuple_3)

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 40, 50, 60, 70, 80, 90)

**8.4 Multiply tuples**
<br>
 multiply the elements of the tuple and return list of the multiplied elements.You can multiply a tuple and an integer with a * operator.

In [ ]:
 (1,2,3) * 5

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

**9 Python Sets**
<br>
Mathematically a set is a collection of items not in any particular order. A Python set is similar to this mathematical definition with below additional conditions.

*  The elements in the set cannot be duplicates.
*  The elements in the set are immutable(cannot be modified) but the set as a whole is mutable.
*  There is no index attached to any
*  enclosed by curly braces {}

In [ ]:
# use curly braces {} to define a set
my_set = {"Hello", 67, 5.65, "Flase"}
my_set

{5.65, 67, 'Flase', 'Hello'}

In [ ]:
 # length (number of items) of a set
len(my_set)

4

**9.1 Access Set items**
<br>
You can loop through a set to access the items of the set.

In [ ]:
for i in my_set:
 print(i)

67
5.65
Flase
Hello

You can check if a particular item is in the set by using the in keyword.

In [ ]:
 1 in my_set

False

In [ ]:
"Hello" in my_set

True

**9.2 Add items to set**
<br>
when You can not change the items already in a set, however, you can add items to the set by using the
add() method

In [ ]:
my_set = {1,2,3}
my_set.add("python programming")
my_set

{1, 2, 3, 'python programming'}

You can add items from another set by using the update() method.

In [ ]:
your_set = {"Hi", "there"}
my_set.update(your_set)
my_set

{1, 2, 3, 'Hi', 'python programming', 'there'}

The update() method can take a list, and a tuple, or a dictionary.

In [ ]:
# using update() with a list
my_set = {10,20}
lst = ["apple", "banana"]
my_set.update(lst)
my_set

{10, 20, 'apple', 'banana'}

In [ ]:
#  using update() with a tuple
my_set = {10,20}
my_tup = ("apple", "papaya")
my_set.update(my_tup)
my_set

{10, 20, 'apple', 'papaya'}

**10 Python Dictionary**
<br>
 A dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its associated value.
 <br>You can define a dictionary by enclosing a comma-separated list of key-value pairs in curly braces ({}). A colon (:) separates each key from its associated value:
 <br>
 Python dictionaries:
*  are ordered (have indexes) [in Python 3.7 and later]
*  are mutable (items can be added, updated, and deleted)
*  do not allow duplicate keys

In [ ]:
 # Example
city_pop = {
"Chicago": 3.5,
"New York": 7,
"LA": 6
}
city_pop

{'Chicago': 3.5, 'LA': 6, 'New York': 7}

**10.1 Access dictionary items**
<br>You can get the value of any key in the dictionary in the following way.<br>
**name_of_dict[ key ]**

In [ ]:
# getting the value (population) of "Chicago" (key)
city_pop["Chicago"]

3.5

You can also use the get() method to get when  the value of the key provided as argument

In [ ]:
city_pop.get("LA")

6

You can use the keys() method when  you need to get a list of all the keys in the dictionary

In [ ]:
 city_pop.keys()

dict_keys(['Chicago', 'New York', 'LA'])

You can use the values() method when you need to get a list of all the values in the dictionar

In [ ]:
city_pop.values()

dict_values([3.5, 7, 6])

you can use the items() method.when you access the items

In [ ]:
 # the result will be a list of tuples, each tuple containing a pair of key and,value
city_pop.items()

dict_items([('Chicago', 3.5), ('New York', 7), ('LA', 6)])

You can check if a particular key exists in a dicionary, by using the in keyword

In [ ]:
"Chicago" in city_pop

True

In [ ]:
"San Franscisco" in city_pop

False

**10.2 Change dictionary items**<br>
If you want to update the value of a particular key, then you can just assign a new value to the key
in the following way

In [ ]:
#  dict[ key ] = new value
city_pop["LA"] = 20
city_pop

{'Chicago': 3.5, 'LA': 20, 'New York': 7}

You can also update the value of a particular key by using the update() method

In [ ]:
city_pop.update({ "Chicago": 30 })
city_pop

{'Chicago': 30, 'LA': 20, 'New York': 7}

**10.3 Add items to dictionary**<br>
Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [ ]:
city_pop["Chitwan"] = 2.5
city_pop

{'Chicago': 30, 'Chitwan': 2.5, 'LA': 20, 'New York': 7}

The update() method updates the dictionary with the elements from the another dictionary object or from an iterable of key/values pairs.

In [ ]:
city_pop.update({"Tandi": 4.7})
city_pop

{'Chicago': 30, 'Chitwan': 2.5, 'LA': 20, 'New York': 7, 'Tandi': 4.7}

**10.4 Remove items from dictionary**
<br>
We can remove a particular item in a dictionary by using the pop () method. This method removes an item with the provided key and returns the value.

In [ ]:
city_pop.pop("LA")
city_pop

{'Chicago': 30, 'Chitwan': 2.5, 'New York': 7, 'Tandi': 4.7}

The del keyword can also delete a specified key value pair in the following way

In [ ]:
del city_pop["Tandi"]
city_pop

{'Chicago': 30, 'Chitwan': 2.5, 'New York': 7}

The clear() method deletes all the items in the dictionary.

In [ ]:
city_pop.clear()
city_pop

{}

You can use the del keyword to delete the dictionary itself from memor

In [ ]:
del city_pop

In [ ]:
 # city_pop is no longer accessible, as it has already been deleted.
city_pop

NameError: ignored

# **THE END**